* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding:60px;
  background-color:#21232A;
  font-size:1.3rem;
  color:white;
}

input {
  font-size:1.5rem;
  width:100%;
  color:#21232A;
}


.card{
  align-content: center;
  border:1px solid red;
  border-radius:6px;
  overflow:hidden;
  margin-bottom: 10px;
  margin-right: 10px;

}

.cat {
  padding:5px;
  text-align:center;
}

.card img {
  max-height: 170px;
 
}

.card-grid{
            
            /* background: var(--card-color);
            color:rgb(255, 255, 255);
            width: 400px;
            /* padding: 20px; */
            /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377); */
            /* border-radius: 20px; 
            flex-direction: row;
            flex-wrap: wrap;    */
           display:flex;
        }
